# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Catch all
[!*.{png,paa,jpg,tga}]
indent_style = tab
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# TODO: consider *.rvmat
[*.{md,hpp,cpp,bat,ps1,sh,yml}]
indent_style = tab
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{CODEOWNERS,.editorconfig,.gitattributes,.gitignore}]
indent_style = tab
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[$PREFIX$]
insert_final_newline = false
