# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '0 0 * * *' # everyday at midnight UTC
  workflow_dispatch: # manual trigger

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
    - uses: actions/stale@9.0.0
      with:
        days-before-pr-close: 7
        days-before-issue-close: -1
        include-only-assigned: true
        stale-issue-message: 'This has been assigned for 60 days without visible progress, maybe someone else should be allowed to work on it?'
        stale-pr-message: 'This PR has had no activity for 60 days, it will be automatically closed in 7 days.'
